.stockContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
}

.displayContainer {
  display: flex;
  justify-content: space-around;
}

div p {
  color: #f73325;
}
